.card {
    margin: 0;
    border: 1px solid grey;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 60rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all .3s ease-in-out;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.22) 0px 19px 43px;
    transform: translate3d(0px, -1px, 0px);
}

.company {
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.selected {
    text-align: center;
    font-size: 1.8rem;
    padding: 1.5rem;
    margin: 0 auto;
    background: lightblue;
    cursor: pointer;
    border-radius: 3%;
    min-width: 22rem;
}

.slot {
}

.slot:hover {
    filter: brightness(85%);
}